body{
    background-color: black;
    margin: 0;
}
.main{
    display: grid;
    grid-template-columns: 0.5fr 2fr 0.2fr;
    grid-template-rows: 1fr 1fr 0.5fr 0.5fr;
    gap: 25px;
    height: 1000px;
    width: 100%;
}
.white,.white2,.white3,.white4{
    background-color: rgb(227, 226, 218);
}
.red{
    background-color: rgba(255, 0, 0, 0.793);
    grid-column-start: 2;
    grid-column-end:-1;
    grid-row-start: 1;
    grid-row-end:3;
}
.blue{
    background-color: rgba(0, 0, 255, 0.863);
    grid-row-start: 3;
    grid-row-end:5;
}
.yellow{
    background-color: yellow;
}
.white3{
    grid-row-start: 3;
    grid-row-end:5;
}